body{
    font-family: 'Roboto', sans-serif;
    background-color: #303030;
    color: #d4d4d4;
}
h1, h2{
    text-align: center;
}

h1{
    font-size: 2.5rem;
}

main{
    display: flex;
}
#draw-container{
    display: flex;
    flex-direction: column;
}
#dimension-container{
    display: flex;
    justify-content: space-between;
}
#board{
    background-color: white;
    width: 30rem;
    height: 30rem;
}