body {
    font-family: 'Roboto', sans-serif;
    background-color: #303030;
    color: #d4d4d4;
}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    margin: 0;
}

main {
    display: flex;
    margin: 0rem 10rem;
    justify-content: space-between;
}

#draw-container {
    display: flex;
    flex-direction: column;
}

#dimension-container {
    display: flex;
    justify-content: space-between;
}

input[type="range"]{
    width: 65%;
}

#board {
    background-color: white;
    width: 30rem;
    height: 30rem;
    display: flex;
    flex-wrap: wrap;
}

#border {
    width: 1px;
    height: 31rem;
    background-color: rgb(158, 158, 158);
    align-self: flex-end;
}

#tools-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

#tools-container h2 {
    font-size: 2.5rem;
}

#color {
    width: 7rem;
    height: 7rem;
}

#clear-button-container{
    margin-top: auto;
    margin-bottom: 1rem;
}

input[type='radio']{
    display: none;
}
label{
    font-size: 1.5rem;
    transition: .2s;
    color: black;
    background-color: #E7E7E7;
    border-radius: .2rem;
    width: 12rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.on-select{
    background-color:rgb(137, 137, 137);
    transition: .1s;
}

#clear{
    width: 12rem;
    height: 3rem;
    font-size: 1.5rem;
    background-color: #FF6D6D;
    color: white;
    border: none;
    border-radius: .5rem;
    transition: .2s;
    padding: 0;
}

#clear:hover, label:hover{
    transform: translate(0, -.1rem);
    cursor: pointer;
}

@media (max-width: 1000px){
    main{
        margin: 2rem;
    }
}
@media (max-width: 760px){
    main{
        margin: 0;
    }
}